.navbar{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #0b0f1f;
  color: white;
  align-items: center;
}
.navbar > ul{
  justify-content: space-between;
  list-style: none;
  display: flex;
  width: 25%;
  min-width: 350px;
  max-width: 500px;
}
a{
  text-decoration: none;
  color:white;
}
.search-input{
  all:unset;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  color: white;
}
.search-input::placeholder{
  color: white;
}
.search-input:active{
  /* border: none; */
}
.actions{
  display: flex;
  gap: 20px;
  align-items: center;
}
.actions button{
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.actions ul{
  list-style: none;
}
#list-roll-down{
  width: 200px;
  height: 20px;
  background-color: green;
  opacity: 0.2;
    transition: all .4s;
  }
  #list-roll-down.is-active{
    height: 150px;
  opacity:1;
  }

