.side-bar{
  min-width: 350px;
  /* background: rgb(238, 238, 238); */
  /* background: rgb(237, 246, 252); */
  /* border-right: 2px solid gray; */
  background: white;
  /* box-shadow: 10px 2px 10px -6px black; */
  padding: 30px;
  height: calc(100vh - 80px);
  /* box-shadow: 0 2px 10px -6px black; */
  box-shadow: 0 0 23px -18px black;

  z-index: 1;

}
.side-bar .head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.property-type {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.property-type button{
  text-transform: capitalize;
  width: calc(50% - 5px);
  border: none;
  height: 60px;
  color: black;
  font-weight: 600;
  background: white;
  box-shadow: 0 0 10px -6px;
  border-radius: 10px;
}
.property-type button.active{
  color: white;
  background: #3aa856;
}
input[type=range] {
    /* -webkit-appearance: none; */
    width: 100%;
    margin: 10px 0;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #007bff;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb:first-of-type {
    z-index: 1;
}
.side-bar.dark{
  background: #4c4e53;
  color: white;
}